


<div>
 <h3>{{currentUser}}, start typing!</h3>
</div>

<div class="container">
 <div class="chatDisplay" ng-repeat="msg in msgs">
 <p>{{msg.author.name}}: {{msg.content}}</p>
 </div>

 <div class="userList" ng-repeat="user in users">
  <p>{{user.name}}</p>
 </div>

 <div class="messageSubmit">
   <form action="" ng-submit="addMsg(msg)">
    <!-- <input type="text" class="authorInput" placeholder="Type Name Here" ng-model="msg.author"> -->
    <input type="text" class="msgInput" placeholder="Type Message Here" ng-model="msg.content">
    <button type="submit">Submit</button>
   </form>
 </div>

</div>
