<div class="createuser">

</div>

<div class="container">
 <div class="chatDisplay" ng-repeat="msg in messages">
 <p>{{msg.author}}: {{msg.content}}</p>
 </div>
 <div class="userList">

 </div>
 <div class="messageSubmit">
   <form action="" ng-submit="addMsg(newMsg)">
    <input type="text" class="authorInput" placeholder="Type Name Here" ng-model="msg.author">
    <input type="text" class="msgInput" placeholder="Type Message Here" ng-model="msg.content">
    <button type="submit">Submit</button>
   </form>
 </div>
</div>
